.component {
  margin: 40px 15px 15px 15px;
  color: var(--color-muted);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  font-size: 14px;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row .bar {
  margin-left: 8px;
  margin-right: 8px;
  color: var(--border-color);
}
.row a,
.row a:visited {
  color: var(--color-muted);
  text-decoration-color: transparent;
}
.row a:hover {
  color: var(--link-color);
  text-decoration-color: var(--link-color);
}
